{% extends "../main.html" %}

{% block title %} About {% end %}

{% block head %}
    <script src="/static/js/libs/gistfile1.js" type="text/javascript"></script>
{% end %}

{% block content %}
    <div class="container">
        <h1>
            <i class="fa fa-info-circle"></i>
            Slides
        </h1>
        <br />
        <div class="well">
            <ul>
                <li><a href="slides/w1/index.html">slide1 - COMPUTER SECURITY</a></li>
                <li><a href="slides/w2/index.html">slide2 - x86 Linux Programming</a></li>
                <a href="files/lab01/lab1C">lab1C</a>
                <a href="files/lab01/lab1B">lab1B</a>
                <a href="files/lab01/lab1A">lab1A</a></br>
                  $ ssh lab1C@36.238.99.147</br>
                  lab1C@36.238.99.147's password: lab01start</br>
                  $ cd /levels/lab01</br>
                  $ cat /home/lab1B/.pass</br>
                <a href="files/hw1_r3v-1d70158e81d82d3b9f2a875747911630">hw1</a>
                <li><a href="slides/w3/index.html">slide3 - Exploit the Vulnerability</a></li>
                <a href="files/lab02/lab2C">lab2C</a>
                <a href="files/lab02/lab2B">lab2B</a>
                <a href="files/lab02/lab2A">lab2A</a></br>
                <a href="files/lab02/lab2C.c">lab2C.c</a>
                <a href="files/lab02/lab2B.c">lab2B.c</a>
                <a href="files/lab02/lab2A.c">lab2A.c</a></br>
                  $ ssh lab2C@36.238.99.147</br>
                  lab2C@36.238.99.147's password: lab02start</br>
                  $ cd /levels/lab02</br>
                  $ cat /home/lab2B/.pass</br>
                <li><a href="slides/w4/format-string.html">slide4-1 - Format String Vulnerability</a></li>
                <li><a href="slides/w4/rop.html">slide4-2 - Return Oriented Programming</a></li>
                <a href="files/lab03/lab3C">lab3C</a>
                <a href="files/lab03/lab3B">lab3B</a>
                <a href="files/lab03/lab3A">lab3A</a></br>
                <a href="files/lab03/lab3C.c">lab3C.c</a>
                <a href="files/lab03/lab3B.c">lab3B.c</a>
                <a href="files/lab03/lab3A.c">lab3A.c</a></br>
                  $ ssh lab3C@36.238.99.147</br>
                  lab3C@36.238.99.147's password: lab03start</br>
                  $ cd /levels/lab03</br>
                  $ cat /home/lab3B/.pass</br>
                <a href="files/lab04/lab4C">lab4C</a>
                <a href="files/lab04/lab4B">lab4B</a>
                <a href="files/lab04/lab4A">lab4A</a></br>
                <a href="files/lab04/lab4C.c">lab4C.c</a>
                <a href="files/lab04/lab4B.c">lab4B.c</a>
                <a href="files/lab04/lab4A.c">lab4A.c</a></br>
                  $ ssh lab4C@36.238.99.147</br>
                  lab4C@36.238.99.147's password: lab04start</br>
                  $ cd /levels/lab04</br>
                  $ cat /home/lab4B/.pass</br>
                <a href="files/lab05/lab5C">lab5C</a>
                <a href="files/lab05/lab5B">lab5B</a>
                <a href="files/lab05/lab5A">lab5A</a></br>
                <a href="files/lab05/lab5C.c">lab5C.c</a>
                <a href="files/lab05/lab5B.c">lab5B.c</a>
                <a href="files/lab05/lab5A.c">lab5A.c</a></br>
                  $ ssh lab5C@36.238.99.147</br>
                  lab5C@36.238.99.147's password: lab05start</br>
                  $ cd /levels/lab05</br>
                  $ cat /home/lab5B/.pass</br>
                <li><a href="slides/w5/exp.html">slide5 - Exploit Writing</a></li>
                <a href="files/lab03/lab3C">lab3C</a>
                <a href="files/lab03/lab3B">lab3B</a>
                <a href="files/lab03/lab3A">lab3A</a></br>
                <a href="files/lab03/lab3C.c">lab3C.c</a>
                <a href="files/lab03/lab3B.c">lab3B.c</a>
                <a href="files/lab03/lab3A.c">lab3A.c</a></br>
                  $ ssh lab3C@36.238.99.147</br>
                  lab3C@36.238.99.147's password: lab03start</br>
                  $ cd /levels/lab03</br>
                  $ cat /home/lab3B/.pass</br>
                <li><a href="slides/w6/slides.pdf">slide6 - 稍微進階一點點的 Web Security</a></li>
                <li><a href="slides/w7/sql.pdf">slide7 - SQL Injection Workshop</a></li>
                <li><a href="slides/w8/waf_bypass.pdf">slide8 - Bypassing WAF</a></li>
                <li><a href="slides/w9/index.html">slide9 - Crypto in CTF</a></li>
                <hr color="#000000" size="3" >
                <li><a href="slides/appendix1/heap.html">Appendix I - Break the Heap</a></li>
            </ul>
        </div>
    </div>
{% end %}